html{
	height: 100vh;
	width: 100vw;
}

body{
	margin:0;
	padding:10px;
	text-align: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-weight: bold;
	margin-top:6vh;
	background-image: url("poker-table.png");
	background-repeat: no-repeat;
 	background-size: cover;
 	color:whitesmoke;
}

h1{
	color:goldenrod;
	font-size: 3.5rem;
	padding:none;
	margin: none;
}

p{
	font-size: 1.5rem;
}

#message-el{
	font-style: italic;
}


.container{

}

.button-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}

.play-btn{
	width: 20%;
	height: 2.5rem;
	font-weight: 800;
	background-color: goldenrod;
	border-radius: 3px;
	color:#016f32;
	border:none;
	cursor: pointer;
	transition: all 0.01s ease;
}

.play-btn:hover{
	background-color: darkgoldenrod;
}

.play-btn:active{
	transform:scale(0.97);
}

#game-rules{
	opacity: 40%;
	color:lightgoldenrodyellow;
	margin-top:5%;
	font-weight:100;
	font-style: normal;
	font-family: monospace;
}

h3{
	margin-bottom: none;
	padding-bottom: none;
}

@media only screen and (max-width: 600px) {

	html{
		height: 100vh;
		width: 100vw;
	}

	.play-btn{
		width: 60%;
	}

  body{
  	  background-image: url("poker-table.png");
	  background-repeat: no-repeat;
	  background-size: cover;
  }

  h3{
  	margin-top: 6rem;
  }
}
